.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about p {
    font-size: 1.25rem;
}

.about pre {
    display: inline;
}

.media-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.media-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.media-link:visited {
    color: black;
}

.media-icon {
    height: 1.75rem;
    margin-right: 5px;
}