.contact-info {
    font-size: 1.5rem;
}

.contact-info > p {
    margin-bottom: .2rem;
}

.contact-form {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contact-form > label {
    margin-top: .5rem;
    margin-bottom: .15rem;
    font-size: 1.5rem;
}

.red-text {
    color: red;
}

.contact-form input, .contact-form textarea {
    background: none;
    border: none;
    border-bottom: 2px solid #6d3412c5;
    font-size: 1.25rem;
    padding: .3rem .5rem;
    box-sizing: border-box;
    color: #4b240d;
}

.contact-form textarea {
    border: 2px solid #6d3412c5;
    margin-bottom: .5rem;
}

.name-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name-input-container > input {
    width: 48%;
}

.contact-form input::placeholder {
    color: #6d3412c5;
}

.contact-form button {
    font-size: 1.25rem;
    color: #4b240d;
    width: 5rem;
    border: 2px solid #6d3412c5;
    background: none;
    padding: .5rem .25rem;
}

.contact-form button:hover {
    background: #6d3312;
    color: tan;
}

.contact-form input.invalid {
    border-color: rgb(190, 0, 0);
}

.contact-form textarea.invalid {
    border-color: rgb(190, 0, 0);
}