.media-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.media-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    margin: 5px 0;
    font-size: 1.25rem;
}

.media-link:visited {
    color: black;
}

.media-icon {
    height: 1.75rem;
    margin-right: 5px;
}